@use "./base.scss";

// put your custom CSS here!

img:active {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2); 
    opacity: 1 !important;
    position: sticky;
    z-index: 1000;
    position: sticky;
    overflow: hidden;
  }

img:hover{
 cursor: pointer;
 opacity: 0.8; 
}